.Special_move{
    border: 10px solid black;
}

.character_outline{
    border: 5px solid cyan;
}

.fire{
    text-decoration: underline red;
}

.thunder{
    text-decoration: underline yellow;
}

.freeze{
    text-decoration: underline cyan;
}

.Joker_colors{
    border: 10px solid red;
}

.container{
    display: flex;
}